body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial;
}

.main_column {
    display: flex;
    flex-direction: column;
    top:0;
    bottom:0;
    position:absolute;
}

.row {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px;
  margin: 0px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 0px;
  margin: 0px;
}

.label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.button, .slider, .xypad {
  display: flex;
  flex: 1 1;
  border: 4px solid grey;
  border-radius: 8px;
  margin: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.space {
  display: flex;
  flex: 1 1;
}

.encoder {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 6px;
  overflow: hidden;
  cursor: pointer;
}

canvas {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
