body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial;
}

.column {
    display: flex;
    flex-direction: column;
    top:0;
    bottom:0;
    position:absolute;
}

.widget_label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  font-size: 200%;
}

.row {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: nowrap;
  /*border: 2px solid blue;*/
}

.widget {
  display: flex;
  flex: 1 1;
  border: 4px solid grey;
  border-radius: 8px;
  margin: 6px;
  justify-content: center;
  align-items: center;
}

.button {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider_h {

}
.slider_v {

}

.container_h {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  margin: 0px;
}

.container_v {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 0px;
}
